*.log
*.py[co]
*.djcache
celerybeat-schedule
tmux.sh
public
*celerybeat.pid
notebooks/.ipynb_checkpoints/*

project/templates/niehs/header.html
project/templates/niehs/headermeta.html
project/templates/niehs/headerasset.html
project/templates/niehs/footer.html
project/templates/niehs/footerasset.html
project/templates/niehs/menu.html

project/.cache/*
project/node_modules/*
project/static/bundles*
project/static/js/ufa.min.js
project/webpack-stats.json
project/django_project/settings/local.py

data/*
