<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge'></meta>
    <meta charset="utf-8"></meta>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'></meta>

    <!-- custom stylesheets for ORIO -->
    <link rel='stylesheet' type='text/css'
        href='{{static_path}}lib/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" media="all"
        href="{{static_path}}css/site.css">
    <link rel="stylesheet" type="text/css" media="all"
          href="{{static_path}}css/visuals.css">

</head>
<body>
    <div id='rContent'>
        {{content|safe}}
    </div>
</body>
</html>
