#analysis_selection_panel {
    height: 50px;
    width: 95%;
    position: relative;
    margin-top: 20px;
}

/* for debugging placement */
/*
.layouts {
     border: 1px solid red;
}
*/

/* modal settings */
#flcModal .modal-dialog {
    width: 95%;
    height: 95%;
    padding: 0;
}
#flcModal .modal-content {
    height: 100%;
    width: 100%;
}
#flcModal .modal-header {
    height: 50px;
    width: 100%;
}
#flcModal .modal-body{
    height: calc(100% - 50px);
    width: 100%;
}

/* bootstrap inner tooltip override */
.tooltip-inner {
    max-width: 350px;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: #000;
}

.x.axis .minor {
    stroke: #000;
}

.x.axis path {
    stroke: #000;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.heatmapLabelText{
    font-size: 8px;
    dominant-baseline: middle;
}

.dendroLine {
    stroke: black;
    stroke-width: 1px;
}


g.labels text {
    font-weight: bold;
}

/* dataset correlation dataset selector */
.ids_selector{
    font-size: 12px;
    margin: 10px 0;
}

/* feature clustering rectangles */
.cluster_bar {
    cursor: pointer;
    stroke: transparent;
    stroke-width: 2px;
}
.cluster_bar:hover {
    fill: yellow !important;
    stroke: black;
    stroke-width: 5px;
}
