#analysis_selection_panel {
    height: 50px;
    width: 95%;
    position: relative;
    margin-top: 20px;
}

.panel {
    height: 750px;
    width: 95%;
    position: relative;
    margin-top: 20px;
}

#dataClusterSubpanel1 {
    height: 500px;
    width: 100%;
    position: absolute;
}

#dataClusterSubpanel2 {
    height: 250px;
    width: 100%;
    position: absolute;
    top: 500px;
}

#flcModal .modal-dialog {
    width: 95%;
    height: 95%;
    padding: 0;
}

#flcModal .modal-content {
    height: 100%;
    width: 100%;
}

#flcModal .modal-header {
    height: 50px;
    width: 100%;
}

#flcModal .modal-body{
    height: calc(100% - 50px);
    width: 100%;
}

.tooltip-inner {
    max-width: 350px;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: #000;
}

.x.axis .minor {
    stroke: #000;
}

.x.axis path {
    stroke: #000;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.heatmapLabelText{
    font-size: 8px;
    dominant-baseline: middle;
}

.dendroLine {
    stroke: black;
    stroke-width: 1px;
}


g.labels text {
    font-weight: bold;
}

.cluster_bar {
    cursor: pointer;
    stroke: transparent;
    stroke-width: 2px;
}
.cluster_bar:hover {
    fill: yellow !important;
    stroke: black;
    stroke-width: 5px;
}
