<!doctype html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}ORIO{% endblock %}</title>
    <link rel="shortcut icon" href="//www.niehs.nih.gov/resources/favicons/www/fav-57.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="//www.niehs.nih.gov/resources/favicons/www/fav-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//www.niehs.nih.gov/resources/favicons/www/fav-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//www.niehs.nih.gov/resources/favicons/www/fav-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//www.niehs.nih.gov/resources/favicons/www/fav-144.png">
    {% include "niehs/headermeta.html" %}
    {% include "niehs/headerasset.html" %}
    <link rel="stylesheet" href="{{STATIC_URL}}/css/niehs.css">
</head>
<body data-site-type="//www.niehs.nih.gov">
    {% include "niehs/header.html" %}
    <div id="content-wrapper">
        <div id="inner-wrapper">
            {% include "niehs/menu.html" %}
            <article id='top' class="content">
                <a name="skip-navigation"></a>
                {% block mid_content %}
                    {% include "niehs/content.html" %}
                {% endblock mid_content %}
                <div id="download-player"></div>
                <p id="back2top" style="display: none;">
                    <a href="#top" title="Back to Top">Back to Top</a>
                </p>
            </article>
        </div>
    </div>
    {% include "niehs/footer.html" %}
    {% include "niehs/footerasset.html" %}
</body>
</html>
