<h1>ORIO</h1>
<h2>Online Resource for Integrative Omics</h2>
<p>ORIO (Online Resource for Integrative Omics) is platform for integration of whole genome data accessible to life scientists with minimal computational expertise. ORIO is implemented in a modern web framework that intuitively organizes data and analysis results. All features are accessible using its web interface; environmental health scientists and other users may upload data, set up analyses, and view results all through an interactive GUI. ORIO hosts 4,506 human and mouse datasets from the ENCODE research project, providing a point of access for life scientists to contextualize their own data within a rigorously controlled consortial dataset. Statistical tests are also implemented next to dynamic displays of analysis results, allowing transitions from discovery-based to hypothesis-based inquiries. ORIO was consciously designed to make minimal assumptions about data during analysis, allowing its applications to a variety of experiment types and study designs.</p>
<ul>
    <li>
        <a href="{% url "user:login" %}">Login</a>
    </li>
    <li>
        <a href="{% url "user:register" %}">Register</a>
    </li>
</ul>
